{% extends 'base.html' %}

{% block title %}
 <title>Editar tareas </title>
{% endblock title %}

{% block content %}

    <div class="container"> 
            <h1>Edicion de Tareas</h1> 
            {% if task_obj.manage == request.user%}
                    <form method="POST" class="row">
                        {% csrf_token %}
                        <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
                        <input type="hidden" name="done" value="{{ task_obj.done }}">
                        <button type="submit" class="btn btn-primary col-lg-2">Edita Task</button>
                    </form> 
                {% else %}
                        <p>Acceso resringido a esta opcion</p>      
                
            {% endif %}       
    </div>
   

{% endblock content %}